.row {
    display: flex;
    width:80%;
}
.link_card {
    display: flex;
    flex: 4;
    border-radius: 18px;
    width: 36%;
    height: 95px;
    padding: 10px;
    margin-top: 15px;
    margin: 10px;
    background-color: transparent;
    text-align: left;
    font-style: SimSun;
}
.link_card:hover{
    background-size: 120%;
    box-shadow: 3px 3px 3px #888888;
    color: #734ADD;
    color: white;
    background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
    background-size: 300%;
    border-radius: 8px;
    position: relative;
    padding: 1rem 3rem;
    font-family: Lato, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    color: black;
    text-decoration: none;
    background-color: white;
    border: transparent;
    outline: transparent;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    animation: glow 8s linear infinite;
}
.card_img{
    flex: 1;
    vertical-align: middle;
}
.link_content {
    flex: 8;
    margin-left: 10px;
}

.title{
    padding: 0px;
    color: #2CB692;
    font-weight: bold;
    font-size: 15px;
}
.title a{
    color: #91CDAC;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
}
.title a:hover{
    color: #D480AA;
}
img{

    border-radius: 16px;
    margin-top: 13px;
    text-align: center;
}
.description{
    color: #BBD0D3;
    text-align: justify;
    font-size: 13px;
    margin-bottom: 15px;
}


/*标题*/

.category_dl{
    font-family: "楷体","楷体_GB2312";
    width: 80%;
    height: 60px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    border-radius: 8px;
    color: black;
    border-left: 4px solid #F0AD4E;
    background-color: rgba(104,33,122,0.5);
}
.category_py{
    font-family: "楷体","楷体_GB2312";
    width: 60%;
    height: 80px;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 8px;
    color: black;
    border-left: 4px solid #6F42C1;
    background-color: #F5F0FA;
}

.apply_button{
    margin-top: 30px;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
    color: #2CB692;
    height: 30px;
    border-radius: 16px;
    font-family: "楷体","楷体_GB2312";
    text-align: center;
    background-color: #D5E1E0;
    line-height: 30px;
    margin-bottom: 20px;
}
.apply_button a{
    text-decoration: none;
    color: #2CB692;
}
.apply_button:hover{
    box-shadow: 3px 3px 3px #888888;
    background-image: linear-gradient(to left, #D5E1E0,#29675F);
}


hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.explain{
    width: 80%;
    font-size: 18px;
    font-family: "楷体","楷体_GB2312";
    margin-top: 20px;
    margin-left: 0;
    text-align: left;
}

.format{
    font-family: "楷体","楷体_GB2312";
    width: 60%;
    margin-top: 20px;
    font-size: 14px;
    text-align: left;
    line-height: 80px;
    vertical-align: middle;
    border-radius: 8px;
    line-height: 25px;
    color: black;
    border-left: 4px solid #6F42C1;
    background-color: rgba(104,33,122,0.5);
    font-weight: bold;
}
.format p{
    text-align: left;
}

.atr {
    color: black;
    height:70px;
    font-size:30px;
    font-family: SimSun;
    text-align:center;
    line-height: 70px;
    margin: 20px;
}

.btn {
  position: relative;
  padding: 1rem 3rem;
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: black;
  text-decoration: none;
  background-color: white;
  border: transparent;
  outline: transparent;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  animation: glow 8s linear infinite;
}
.btn-gradient {
  color: white;
  background: linear-gradient(90deg, #00dbde, #fc00ff, #00dbde);
  background-size: 300%;
  border-radius: 2em;
}
.btn-gradient::before {
  position: absolute;
  content: "";
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  z-index: -1;
  background: inherit;
  background-size: inherit;
  border-radius: 4em;
  opacity: 0;
  transition: 0.5s;
}
.btn-gradient:hover::before {
  opacity: 1;
  filter: blur(20px);
  animation: glow 8s linear infinite;
}

@keyframes glow {
  to {
    background-position: 300%;
  }
}
@keyframes glow {
  to {
    background-position: 300%;
  }
}




body {
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
  background-attachment: fixed;
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}
.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}

.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}
.table{
    width: 400px;
    height: 350px;
    margin: 80px auto;
}
.table form{
    width: 100%;
}
.table .name{
    width: 280px;
    margin: 20px auto 30px auto;
    display: block;
    height: 30px;
    border-radius: 20px;
    border: none;
    background: rgba(0,0,0,0.2);
    text-indent: 0.5em;
}
.table .btn{
    width: 100px;
    height: 30px;
    background: rgba(0,0,0,0.1);
    border-radius: 8px;
    border: none;
    color: white;
    margin: 0 auto;
    display: block;
}
